
/outputsSpDelimitation
*.checkpoint
*.checkpoint
/scripts/spDelimitation
build/lib/traderpros/custom_R_functions/.Rhistory
/build
history.txt
py_commands.txt
Rplots.pdf
src/traderpros_withSomeCommentsBackup.py
TO_DO_LIST.txt
/TestFIGS
/Test
/traderpros.egg-info
/CicRun02
Rplots (1).pdf
/simRates_0_29_0_29
/simRates_0_305_0_275
/simRates_0_435_0_145
src/traderpros_simManyChanges.py
src/traderprosHiSSE_sim_backup.py
temporary_testCommands.sh
/dist
/simRates_0.305_0.275
src/traderpros_withDistanceNotWorking.py
/CicRun01FIGSAltVer
/CicRun01FIGSAltVer2
/CicRun01FIGSAltVer3
/CicRun01FIGSFinalColors
src/custom_R_functions/alternativecolors.sh
CicurinaDataAndResults/simRates_0.305_0.275/Sim19/sim.25.spp.Sim19.txt
/CicurinaDataAndResults
